
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: rgb(2, 21, 38);
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
}

div.container {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
    width: 900px;
    margin: auto;
    background-color: rgb(3, 52, 110);
    color: rgb(226, 226, 182);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    float: right;
    gap: 10px;
    color: white;
}

#search-input {
    width: 206px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px rgb(226, 226, 182) solid;
    background-color: rgb(2, 36, 74);
    color: rgb(226, 226, 182);
    margin-bottom: 5px;
}

#search-input::placeholder {
    color: white;
}

#search-input:focus {
    outline: none;
}

table {
    width: 100%;
    padding: 2px;
    border: 4px rgb(226, 226, 182) solid;
    border-radius: 10px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(2, 21, 38);
    color: rgb(226, 226, 182);
    padding: 12px;
    font-size: 16px;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgb(71, 111, 141);
    color: rgb(226, 226, 182);
}

tbody tr:nth-child(even) {
    background-color: rgb(110, 172, 218);
    color: rgb(2, 21, 38);
}

tbody td {
    padding: 12px;
    text-align: center;
}

tbody img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

tbody td button {
    padding: 8px 12px;
    background-color: rgb(2, 21, 38);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

tbody td button:hover {
    background-color: rgba(2, 21, 38, 0.7);
}

.pagination {
    text-align: right;
    margin-top: 5px;
}

.pagination button {
    padding: 0px;
    margin-left: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#page-info {
    margin-left: 5px;
    font-size:  12px;
    color: rgb(226, 226, 182);
}

button#prev-btn, button#next-btn {
    width: 70px;
    height: 20px;
    font-size: 12px;
    background-color: rgb(226, 226, 182);
    border: none;
    border-radius: 5px;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(3, 52, 110);
    color: rgb(226, 226, 182);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 500px;
    position: relative;
}

.modal-content h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
}

#form-editar-produto {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}

.modal-content label {
    display: block;
    font-size: 16px;
}

.modal-content input, .modal-content textarea, .modal-content button {
    background-color: rgb(2, 36, 74);
    color: rgb(226, 226, 182);
    display: block;
    margin: 0px 0 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
} 

#font {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#quantidade-editar {
    cursor: not-allowed;
    margin: 0;
}

#prod {
    gap: 40px;
}

#tipo-editar {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: rgb(2, 36, 74);
    border: 1px rgb(204, 204, 204) solid;
    color: rgb(226, 226, 182);
    padding: 10px;
}

#tipo-editar:focus {
    outline: none;
}

.modal-content button {
    background-color: rgb(2, 21, 38);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change .btn :hover {
    background-color: red;
}

/* Close button */
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    color: #AAAAAA;
    font-weight: bold;
}

.modal-content .close:hover {
    color: #000;
}

#mensagem {
    text-align: center;
    color: #28a745;
    font-weight: bold;
}

#btn-menu {
    font-size: 40px;
    font-weight: bold;
    color: rgb(226, 226, 182);
    margin-left: 5px;
    cursor: pointer;
}

#btn-close {
    font-size: 40px;
    font-weight: bold;
    color: rgb(226, 226, 182);
    margin-left: 5px;
    cursor: pointer;
}

.bi.bi-plus-square, .bi.bi-search, .bi.bi-arrow-left-right, .bi.bi-house, .bi.bi-gear, .bi.bi-box-arrow-right {
    display: grid;
    gap: 10px;
    color: rgb(226, 226, 182);
    font-size: 30px;
    padding: 10px;
}

#baixo a {
    padding-bottom: 0px;
    padding-top: 0;
}

#settings {
    border-top: 2px rgb(226, 226, 182) solid;
}


.menu-lateral {
    width: 260px;
    z-index: 1;
    background-color: rgb(3, 52, 110);
    color: white;
    position: fixed;
    height: 100%;
    padding: 20px 0;
    transition: width 0.5s ease;
    overflow: hidden;
}

.menu-lateral ~ .container {
    filter: blur(5px);
}

.menu-lateral.fechado ~ .container {
    filter: blur(0);
}

/* Estilo para ocultar o menu lateral */
.menu-lateral.fechado {
    width: 50px;
    overflow: hidden;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-lateral li {
    display: grid;
    align-items: center;
    padding: 0px 0 0px 0;
    margin-top: 20px;
}

.menu-lateral a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(226, 226, 182); /* Mude para a cor desejada */
    padding: 10px 0;
}

.menu-lateral a:hover {
    background-color: rgb(226, 226, 182);
    color: rgb(3, 52, 110);
}

.menu-lateral a:hover .bi {
    color: rgb(3, 52, 110);
}

#page {
    background-color: rgb(226, 226, 182);
    color: rgb(3, 52, 110);
}

.menu-icon {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text {
    /* Estilos para o texto do link */
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    transition: .2s ease;
    text-wrap: nowrap;
    opacity: 1;
}

.menu-lateral a:hover .menu-text {
    transition: none;
}

.menu-lateral.fechado .menu-text {
    opacity: 0;
    padding-left: 20px;
}

/* Confirmar exclusão */

.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1; /* Fica na frente */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita o scroll se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Fundo com transparência */
}

.modal-content-exclusion {
    background-color: rgb(2, 21, 38);
    color: rgb(226, 226, 182);
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border-radius: 10px;
    width: 50%; /* Largura */
    height: 200px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.change {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 10px;
}

#excluir-produto:hover {
    background-color: #ff1a1a; /* Cor de fundo ao passar o mouse (vermelho mais escuro) */
}

button[type="button"]:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse (verde mais escuro) */
}

.close-btn {
    cursor: pointer;
    font-size: 35px;
}

#real {
    margin: 40px auto 20px;
    text-align: center;
}

#confirmar-exclusao, #cancelar-exclusao {
    width: 173px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(226, 226, 182);
    font-weight: bold;
}

#btn-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#confirmar-exclusao:hover {
    color: white;
    background-color: green;
}


#cancelar-exclusao:hover {
    color: white;
    background-color: red;
}

#destaque {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin: 10px 0;
}

#destaque-editar {
    margin: 0;
    margin-top: 3px;
    margin-left: 5px; /* Adiciona um espaço entre a checkbox e o texto */
}

label#destaque-editar {
    margin: 0;
}

#mensagem {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: none; /* Inicialmente oculta */
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}