.form-group {
    display: grid;
    /* width: 600px; */
    margin: 0;
    /* gap: 15px; */
}

.form, p {
    border-radius: 0 0 8px 8px;
    padding: 8px;
    margin-bottom: 15px;
    background-color: rgb(2, 21, 38, 0.3);
}

p {
    border-left: 1px rgb(226, 226, 182) solid;
    border-right: 1px rgb(226, 226, 182) solid;
    border-bottom: 1px rgb(226, 226, 182) solid;
    text-align: left;
}

.form {
    gap: 0;
    margin: 0;
    border-radius: 8px 8px 0 0;
    background-color: rgb(2, 21, 38);
    justify-content: left;
    align-items: left;
    border-left: 1px rgb(226, 226, 182) solid;
    border-right: 1px rgb(226, 226, 182) solid;
    border-top: 1px rgb(226, 226, 182) solid;
}

table {
    width: 100%;
    padding: 2px;
    border: 4px rgb(226, 226, 182) solid;
    border-radius: 10px;
}

th, td {
    padding: 8px;     
    text-align: center;     
}

th {
    background-color: rgb(2, 21, 38); /* Cor de fundo para o cabeçalho */
    color: rgb(226, 226, 182);
}

tr:nth-child(even) {
    background-color:  rgb(90, 150, 180);
    color: black
}

tr:nth-child(odd) {
    background-color: rgb(110, 172, 218, 0.4);
    color: rgb(226, 226, 182);
}

.pagination {
    text-align: right;
    margin-top: 5px;
}

.pagination button {
    padding: 0px;
    margin-left: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#page-info {
    margin-left: 5px;
    font-size:  12px;
}

.pagination-storage {
    text-align: right;
    margin-top: 5px;
}

.pagination-storage button {
    background-color: rgb(226, 226, 182);
    width: 70px;
    height: 20px;
    font-size: 12px;
    padding: 0px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.pagination-storage button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#page-inform {
    color: rgb(226, 226, 182);
    margin-left: 5px;
    font-size:  12px;
}

/* Modal editar Usuarios*/

.modal-usuarios {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content-user {
    background-color: rgb(3, 52, 110);
    color: white;
    /* padding: 0px 20px; */
    border-radius: 10px;
    max-width: 480px;
    margin: auto;
    position: relative;
    text-align: center;
}

.close-user {
    color: rgb(2, 21, 38);
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.title {
    border: none;
    border-radius: 10px 10px 0 0;
    color: rgb(2, 21, 38);
    background-color: rgb(226, 226, 182);
}

#edit-users {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
    margin: 10px 10px;
}


#register-users {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
    margin: 10px 10px;
}

input {
    width: 438px;
    max-width: 438px;
    background-color: rgb(2, 21, 38, 0.4);
    color: rgb(226, 226, 182);
    border: 1px rgb(226, 226, 182) solid;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

select{
    background-color: rgb(2, 21, 38, 0.4);
    color: rgb(226, 226, 182);
    border: 1px rgb(226, 226, 182) solid;
    padding: 5px;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

label {
    text-align: left;
    color: rgb(226, 226, 182);
}

#delete-user, #save-changes, #save-user {
    width: 200px;
    margin: 0 auto;
    background-color: rgb(2, 21, 38, 0.4);
    color: rgb(226, 226, 182);
    border: 1px rgb(226, 226, 182) solid;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

#save-changes:disabled {
    background-color: rgba(2, 21, 38, 0.2);
    color: rgba(226, 226, 182, 0.2);
}

#save-user:disabled {
    background-color: rgba(2, 21, 38, 0.2);
    color: rgba(226, 226, 182, 0.2);
}

#save-changes:disabled:hover {
    background-color: rgb(2, 21, 38, 0.2);
    color: rgb(226, 226, 182, 0.2);
    border: 1px rgb(226, 226, 182) solid;
}

#save-user:disabled:hover {
    background-color: rgb(2, 21, 38, 0.2);
    color: rgb(226, 226, 182, 0.2);
    border: 1px rgb(226, 226, 182) solid;
}

button {
    cursor: pointer;
}

#confirmation-modal, #confirmation-user {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-contents, .modal-contents-user {
    position: absolute; /* Alterado para absolute */
    top: 50%; /* Move para 50% da altura do pai */
    left: 50%; /* Move para 50% da largura do pai */
    transform: translate(-50%, -50%); /* Centraliza o modal */
    background: rgb(3, 52, 110);
    color: rgb(226, 226, 182);
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    max-width: 500px; 
    width: 90%; 
    text-align: center; 
    align-items: center;
    justify-content: center;
}

#c-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin-top: 30px;
}

#confirm-delete, #cancel-delete, #confirm-user, #cancel-user {
    width: 200px;
    margin: 0 auto;
    background-color: rgb(2, 21, 38, 0.4);
    color: rgb(226, 226, 182);
    border: 1px rgb(226, 226, 182) solid;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

#confirm-delete:hover {
    background-color: green;
    border: 1px green solid;
}

#confirm-user:hover {
    background-color: green;
    border: 1px green solid;
}

#cancel-delete:hover {
    background-color: red;
    border: 1px red solid;
}

#cancel-user:hover {
    background-color: red;
    border: 1px red solid;
}

#delete-user:hover {
    background-color: red;
    border: 1px red solid;
}

#save-changes:hover {
    background-color: green;
    border: 1px green solid;
}

#save-user:hover {
    background-color: green;
    border: 1px green solid;
}

#message, #mensagem-aviso {
    display: none; /* Ocultar por padrão */
    position: absolute;
    top: 80px;
    right: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 15px;
}

#mensagem-aviso {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.sucess {
    display: block; /* Mostrar se for sucesso */
    background-color: green;
    color: white;
}

.error {
    display: block; /* Mostrar se for erro */
    background-color: red;
    color: white;
}

/* Cadastrar Usuário */

.client-registration  {
    background-color: rgb(3, 52, 110);
    color: white;
    margin: auto;
    border-radius: 10px;
    max-width: 480px;
}

.register {
    background-color: rgb(226, 226, 182);
    color: rgb(2, 21, 38);
    border-radius: 5px 5px 0 0;
}

.input-container, .confirm-container {
    position: relative;
    background-color: transparent;
}

.bi.bi-eye-fill, .bi-eye-slash-fill {
    position: absolute;
    right: 5px;
    top: 14px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: rgba(255, 255, 255, 0.724);
    font-size: 20px;
    position: absolute;
}

.fontsize-text, .fontsize-text-confirm {
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(226, 226, 182); /* Pode ajustar a cor se necessário */
    font-size: 12px; /* Ajuste o tamanho da fonte */
    margin-left: 10px;
    position: absolute;
    text-wrap: nowrap;
    bottom: 6px; /* Ajuste a posição para exibir logo abaixo do input */
}

.input-container input:focus + .fontsize-text,
.input-container input:hover + .fontsize-text {
    display: inline-block;
}

/* Modal Planos */

.plano {
    gap: 0;
    padding: 5px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(226, 226, 182);
    color: rgb(2, 21, 38);
    justify-content: left;
    align-items: left;
    border: 1px rgb(226, 226, 182) solid;
}

.plan {
    margin: 0;
    gap: 0;
    border-radius: 0;
    color: rgb(226, 226, 182);
}

#ult {
    border-radius: 0 0 8px 8px;
}

#alt-plan{
    width: 150px;
    margin: 10px auto 0;
    background-color: rgb(10, 20, 40);
    color: rgb(226, 226, 182);
    border: 1px rgb(226, 226, 182) solid;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

#alt-plan:hover{
    background-color: rgb(2, 36, 74);
}