@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Stoke', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: rgb(2, 21, 38, 0.9);
    background-image: linear-gradient(to right, rgb(2, 21, 38), rgb(110, 172, 218), rgb(2, 21, 38));
    backdrop-filter: blur(6px);
    backdrop-filter: brightness(-10px);
    background-repeat: no-repeat;
}

.envio {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 21, 38, 0.6);
    backdrop-filter: blur(7px);
    margin: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
}

.heading {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    margin: 0px 0 100px 0;
}

.bi {
    color: white;
    font-size: 60px;
    margin-top: 0px;
    transition: 0.5s;
}

p {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 80px;
    border-radius: 10px;
    transition: 0.5s;
}

#message-container {
    display: block;
    position: absolute;
    top: 50px;
    right: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 15px;
}

.success {
    display: flex; /* Mostrar se for sucesso */
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.error {
    display: flex; /* Mostrar se for erro */
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}