/* Reset básico */

@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgba(4, 9, 21, 0.9);
    color: white
}

a {
    text-decoration: none;
}

/* Seção Clientes */
.cliente-secao {
    padding: 40px;
    text-align: center;
}

.titulo-secao {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

.titulo-carrossel {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left, rgba(46, 81, 176, 1), rgb(28, 33, 43));
    color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.linha-inferior {
    background-image: linear-gradient(to right, rgba(46, 81, 176, 1), rgb(28, 33, 43));
}

#separa-texto-cima {
    margin: 0 220px 15px 220px;
    border: 2px white solid;
    border-radius: 10px;
}

#client {
    color: rgba(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
}

#separa-texto-baixo {
    margin: 15px 220px 10px 220px;
    border: 2px white solid;
    border-radius: 10px;
}

.texto-esquerda, .texto-direita {
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    line-height: 1.6em;
}

.imagem-esquerda {
    display: flex;
    align-items: center;
    border-bottom: 10px rgb(255, 255, 255) solid;
    border-top: 10px rgb(28, 33, 43) solid;
    border-radius: 10px;
    padding: 20px;
}

.imagem-direita {
    display: flex;
    align-items: center;
    border-top: 10px rgb(255, 255, 255) solid;
    border-bottom: 10px rgb(28, 33, 43) solid;
    border-radius: 10px;
    padding: 20px;
}

.imagem-direita img, .imagem-esquerda img {
    width: 200px; /* Aumentando o tamanho da imagem */
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.imagem-direita img:hover, .imagem-esquerda img:hover {
    transform: scale(1.1); /* Zoom na imagem ao passar o mouse */
}

/* Carrossel imagem clientes */

.carrossel-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* Carrossel */
.carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

/* Imagens do Carrossel */
.carrossel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.014);
}

.carousel-images-inner {
    display: flex;
    transition: transform 0.6s ease-in-out;
    margin: 0 auto;
}

img.img-client {
    /* border: 1px silver solid; */
    width: 400px;
    height: 300px;
    margin: 0 50px 0 80px;
}

.carousel-images-inner img {
    width: 100%; /* Ajuste para mostrar 4 imagens por vez */
    transition: transform 0.3s ease;
}

.carousel-images-inner img:hover {
    transform: scale(1.05); /* Pequeno zoom ao passar o mouse */
}

/* Barra de Navegação Horizontal */
.nav-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(4, 9, 21, 0.367); /* Cor de fundo leve */
    padding: 10px 0;
}

.nav-itens {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
}

.nav-itens.active {
    background-color: rgba(46, 81, 176, 1); /* Cor ativa */
}

.nav-itens:hover {
    background-color: rgba(100, 149, 237, 0.7); /* Cor ao passar o mouse */
}


/* Seção Planos */
.planos-secao {
    text-align: center;
    padding: 40px;
    position: relative; /* Garante que a posição relativa seja aplicada ao contêiner dos planos */
}

.titulo-planos {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitulo-planos {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.imagem-planos-container {
    display: flex;
    align-items: center; /* Alinha verticalmente as setas e a imagem */
    justify-content: center; /* Alinha horizontalmente o contêiner */
    position: relative; /* Permite o posicionamento absoluto das setas */
    gap: 20px; /* Espaço entre a imagem e as setas */
    overflow: hidden;
}

.imagem-planos {
    position: relative; /* Faz com que o logo-plan e o texto sejam posicionados em relação a este contêiner */
    display: inline-block; /* Faz com que o contêiner ajuste seu tamanho à imagem */
    overflow: hidden; /* Garante que o logo não saia do contêiner */
    cursor: pointer;
}

#fundo-plano {
    display: block;
    filter: brightness(70%);
    border-radius: 10px;
    overflow: hidden;
}

.imagem-planos:hover #fundo-plano {
    filter: brightness(20%); /* Ajuste o brilho para um efeito mais suave */
    transition: 0.2s ease-in-out;
    overflow: hidden;
}

.logo-container {
    display: none;
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza o contêiner do logo */
    display: flex;
    align-items: center; /* Alinha o texto e o logo verticalmente */
    gap: 10px; /* Espaçamento entre o logo e o texto */
    z-index: 10; /* Garante que o logo e o texto estejam sobre a imagem de fundo */
    filter: brightness(100%);
    overflow: hidden;
}

.logo-container span {
    display: none;
    overflow: hidden;
}

#logo-plan {
    width: 200px; /* Ajuste o tamanho do logo conforme necessário */
    height: auto;
    opacity: 0; /* Inicialmente invisível */
    visibility: hidden; /* Inicialmente escondido */
    overflow: hidden;
}


.imagem-planos:hover #logo-plan, 
.imagem-planos:hover .logo-container span {
    display: grid;
    opacity: 1; /* Torna o logo visível ao passar o mouse */
    visibility: visible; /* Garante que o logo seja visível */
    font-size: 30px; /* Ajuste o tamanho da fonte conforme necessário */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno do texto */
    border-radius: 5px; /* Bordas arredondadas */
    transition: 1s ease-in-out;
    overflow: hidden;
}

/* HR Separa Section */

#separa-section {
    border: 3px rgb(50, 65, 102) solid;
    border-radius: 10px;
    margin: 0 35px;
}


/* Seção Atendimento */

.atendimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 0 50px;
    height: 500px;
}

.lado-esquerdo, .meio, .lado-direito {
    width: 30%;
}

.lado-esquerdo h2, .lado-direito h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.formas-contato .contato-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.formas-contato img {
    width: 30px;
    margin-right: 10px;
}

.redes-sociais {
    display: flex;
    margin-top: 20px;
}

.redes-sociais img {
    width: 40px;
    margin-right: 50px;
}

#meio-responsive {
    display: none;
}

.meio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.meio img {
    margin-bottom: 30px;
}

.info-horario, .info-localizacao {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info-horario img, .info-localizacao img {
    width: 30px;
    margin-right: 10px;
}

a {
    color: white;
}

a:hover {
    color: rgba(65, 87, 139);
}

/* Rodapé */

#footer-page {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}