/* Responsividade */

/* Botão MENU-NAV deve aparecer com resoluções menores ou igual que 808px */

@media screen and (min-width: 300px) and (max-width: 500px) {

    .nav-menu {
        display: none; /* Oculta o menu completamente */
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0px;
        width: 100%;
        background-color: rgb(29, 34, 46);
    }

    .nav-menu.active {
        display: flex; /* Mostra o menu quando ativo */
    }

    .nav-icon {
        display: block;
        padding-right: 10px;
    }

    .nav-item {
        margin: 1.5rem 0;
        text-align: center;
    }

    .highlight-section {
        height: 300px; /* Ajuste a altura conforme necessário */
    }

    .highlight-text {
        font-size: 18px; /* Reduz o tamanho da fonte para telas menores */
    }

    .highlight-image {
        width: 80px; /* Ajusta o tamanho da imagem para telas menores */
    }
    
    /* Botão Orçamento */
    .add-orc {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    .orcamento {
        font-size: 18px; /* Reduz o tamanho da fonte */
        padding: 15px; /* Ajusta o padding */
    }

    #btn-topo {
        position: fixed;
        align-items: center;
        text-align: center;
        font-size: 15px;
        right: 12%;
    }

    .title-car {
        text-align: center;
        font-size: 0.85rem;
    }

    .carousel-section  {
        padding: 10px;
        margin: 0;
        margin-bottom: 20px;
    }

    .carousel-item{
        margin: 0 auto;
        /* border-radius: 30px; */
    }

    .overlay:hover {
        border-radius: 5px;
    }

    .left-btn {
        width: 40px;
        height: 40px;
    }

    .right-btn {
        width: 40px;
        height: 40px;
    }

    .info-box {
        padding: 2px 5px 5px 5px;
    }

    .info-content {
        font-size: 0.7rem;
    }

    .info-content h2 {
        font-size: 1rem;
    }

    .info-content p {
        font-size: 0.8rem;
    }

    .close-info {
        margin-top: 10px;
        font-size: 1rem;
    }

     /* Seção Clientes */
     .cliente-secao {
        padding: 20px;
    }

    .titulo-secao, .titulo-carrossel {
        font-size: 1.1em;
    }

    .card {
        flex-direction: column;
        padding: 20px;
        margin-bottom: 20px;
    }

    #separa-texto-cima, #separa-texto-baixo {
        margin: 10px auto;
    }

    .texto-esquerda, .texto-direita {
        width: 100%;
        font-size: 0.8em;
    }

    .imagem-esquerda, .imagem-direita {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .imagem-esquerda img, .imagem-direita img {
        width: 100px; /* Ajuste o tamanho da imagem */
    }

    .carousel-images {
        padding: 0px;
    }

    .carousel-images-inner {
        flex-direction: row; /* Direção horizontal para o carrossel */
        width: 100%;
        margin: 0;
        padding: 0px;
    }

    img.img-client {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        object-fit: cover; /* Ajusta a imagem para cobrir o container */
        margin: 0 25px 0 5px;
        padding: 0px;   
    }

    .nav-client {
        position: absolute; /* Fixa a barra de navegação ao lado da tela */
        bottom: 0px; /* Ajuste a posição conforme necessário */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Compensa a centralização */
        display: flex; /* Flexbox para itens de navegação */
        flex-direction: row; /* Alinha os itens horizontalmente */
        align-items: center; /* Alinha os itens verticalmente */
    }

    .nav-itens {
        width: 7px;
        height: 7px;
    }    

    /* Seção Planos */
    .planos-secao {
        padding: 20px;
    }

    .titulo-planos {
        font-size: 1.8em;
    }

    .subtitulo-planos {
        font-size: 1em;
    }

    .imagem-planos-container {
        display: grid;
        flex-direction: row;
        margin: 0, auto;
    }

    .imagem-planos {
        width: 100%;
    }

    #fundo-plano {
        width: 100%;
        height: auto;
    }

    .logo-container {
        display: grid;
        margin: 0;
    }

    .imagem-planos:hover #logo-plan {
        display: none;
        align-items: center;
        margin: 0 auto;
    }

    .imagem-planos:hover span {
        display: grid;
        overflow: hidden;
        margin: 0;
        justify-content: center;
    }

    /* Seção Atendimento */
    .atendimento {
        display: flex;
        flex-direction: column;
        padding: 20px ;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        /* overflow: hidden; */
        height: 800px;
    }

    .lado-esquerdo, .meio, .lado-direito {
        display: grid;
        width: 100px;
        margin-bottom: 0px;
        align-items: center;
        justify-content: center;
    }

    .lado-esquerdo h2, .lado-direito h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .formas-contato {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
    }

    .contato-item {
        width: 100%;
    }

    a {
        width: 100%;
    }

    .lado-esquerdo h2, .lado-direito h2 {
        font-size: 1.4em;
        text-decoration: underline;
        width: 200px;
        text-align: center;
    }

    .formas-contato img, .redes-sociais img {
        display: grid;
        width: 20px;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 0px;
    }

    .redes-sociais img {
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }

    .redes-sociais {
        margin-bottom: 40px;
    }

    #meio-responsive {
        display: grid;
        border: 3px rgb(50, 65, 102) solid;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 20px;
    }

    .meio img { 
        display: none;
    }

    .lado-direito {
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
    }

    .info-horario, .info-localizacao {
        display: grid;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-horario img, .info-localizacao img {
        display: grid;
        margin: 0 auto;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    #footer-page {
        width: 100%;
        font-size: 8px;
    }

}

@media screen and (min-width: 501px) and (max-width: 808px) {

    .nav-menu {
        display: none; /* Oculta o menu completamente */
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0px;
        width: 100%;
        background-color: rgb(29, 34, 46);
    }

    .nav-menu.active {
        display: flex; /* Mostra o menu quando ativo */
    }

    .nav-icon {
        display: block;
        padding-right: 10px;
    }

    .nav-item {
        margin: 1.5rem 0;
        text-align: center;
    }

    .highlight-section {
        height: 300px; /* Ajuste a altura conforme necessário */
    }

    .highlight-text {
        font-size: 18px; /* Reduz o tamanho da fonte para telas menores */
    }

    .highlight-image {
        width: 80px; /* Ajusta o tamanho da imagem para telas menores */
    }
    
    /* Botão Orçamento */
    .add-orc {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    .orcamento {
        font-size: 18px; /* Reduz o tamanho da fonte */
        padding: 15px; /* Ajusta o padding */
    }

    #btn-topo {
        position: fixed;
        align-items: center;
        text-align: center;
        font-size: 15px;
        bottom: 3%;
        right: 5%;
    }

    .title-car {
        text-align: center;
        font-size: 0.85rem;
    }

    .carousel-section  {
        padding: 10px;
        margin: 0;
        margin-bottom: 20px;
        height: 450px !important;
    }

    .carousel-container {
        height: 500px !important;
    }

    .carousel-item{
        height: 400px !important;
        margin: 0 auto;
        /* border-radius: 30px; */
    }

    .carousel-item img{
       height: 400px;
    }

    .overlay:hover {
        border-radius: 5px;
    }

    .left-btn {
        width: 40px;
        height: 40px;
    }

    .right-btn {
        width: 40px;
        height: 40px;
    }

    .info-box {
        padding: 2px 5px 5px 5px;
    }

    .info-content {
        font-size: 0.7rem;
    }

    .info-content h2 {
        font-size: 1rem;
    }

    .info-content p {
        font-size: 0.8rem;
    }

    .close-info {
        margin-top: 10px;
        font-size: 1rem;
    }

     /* Seção Clientes */
     .cliente-secao {
        padding: 20px;
    }

    .titulo-secao, .titulo-carrossel {
        font-size: 1.1em;
    }

    .card {
        flex-direction: column;
        padding: 20px;
        margin-bottom: 20px;
    }

    #separa-texto-cima, #separa-texto-baixo {
        margin: 10px auto;
    }

    .texto-esquerda, .texto-direita {
        width: 100%;
        font-size: 0.8em;
    }

    .imagem-esquerda, .imagem-direita {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .imagem-esquerda img, .imagem-direita img {
        width: 100px; /* Ajuste o tamanho da imagem */
    }

    .carousel-images {
        padding: 50px;
    }

    .carousel-images-inner {
        flex-direction: row; /* Direção horizontal para o carrossel */
        width: 100%;
        margin: 0;
        padding: 0px;
    }

    img.img-client {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        object-fit: cover; /* Ajusta a imagem para cobrir o container */
        margin: 0 0px 10px 0px;
        padding-right: 150px;
        padding-left: 100px;   
    }

    .nav-client {
        position: absolute; /* Fixa a barra de navegação ao lado da tela */
        bottom: 0px; /* Ajuste a posição conforme necessário */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Compensa a centralização */
        display: flex; /* Flexbox para itens de navegação */
        flex-direction: row; /* Alinha os itens horizontalmente */
        align-items: center; /* Alinha os itens verticalmente */
    }

    .nav-itens {
        width: 7px;
        height: 7px;
    }

    /* Seção Planos */
    .planos-secao {
        padding: 20px;
    }

    .titulo-planos {
        font-size: 1.8em;
    }

    .subtitulo-planos {
        font-size: 1em;
    }

    .imagem-planos-container {
        display: grid;
        flex-direction: row;
        margin: 0, auto;
        width: 100% !important;
        height: 300px !important;
    }

    .imagem-planos {
        width: 100%;
        margin: 0, auto;
    }

    #fundo-plano {
        width: 490px !important;
        height: 300px !important;
        margin: 0, 100px;
    }

    .logo-container {
        display: grid;
        margin: 0;
    }

    .imagem-planos:hover #logo-plan {
        display: none;
        align-items: center;
        margin: 0 auto;
    }

    .imagem-planos:hover span {
        display: grid;
        overflow: hidden;
        margin: 0;
        justify-content: center;
    }

    /* Seção Atendimento */
    .atendimento {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 20px 10px;
        height: 200px;
    }

    .lado-esquerdo, .lado-direito {
        width: 50%;
    }

    .lado-esquerdo {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .lado-direito {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: left;
        justify-content: left;
    }

    .lado-esquerdo h2, .lado-direito h2, .redes-sociais h2 {
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .formas-contato .contato-item {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
    }

    .contato-item a{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
    }

    .formas-contato img {
        width: 20px;
        margin: 0;
    }

    .redes-sociais {
        width: 450px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .redes-sociais h2 {
        margin-bottom: 20px;
    }

    #redes-icons {
        display: flex;
        gap: 10px;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    #redes-icons img {
        margin: 0;
        width: 20px;
    }

    #meio-responsive {
        display: none;
        height: 150px;
    }

    .meio {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .meio img {
        margin-bottom: 30px;
    }

    .info-horario, .info-localizacao {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .info-horario img, .info-localizacao img {
        display: none;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgba(65, 87, 139);
    }

    /* Rodapé */

    #footer-page {
        background-color: rgb(30, 30, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3px;
        font-size: 10px;
    }

}

@media screen and (min-width: 500px) {

    .title-car {
        text-align: center;
        font-size: 1rem;
    }

}

@media screen and (min-width: 700px) {

    .title-car {
        text-align: center;
        font-size: 1.5rem;
    }

    .info-horario #hour, .info-localizacao #local{
        display: grid;
        width: 20px;
    }

}

@media screen and (min-width: 888px) {

    .title-car {
        text-align: center;
        font-size: 2.5rem;
    }

}

@media screen and (min-width: 809px) and (max-width: 1070px) {

    .info-horario #hour img, .info-localizacao #local img {
        display: grid;
        width: 20px;
    }


     /* Seção Clientes */
    .cliente-secao {
        padding: 20px;
    }
    
    .titulo-secao, .titulo-carrossel {
        font-size: 1.1em;
    }
    
    .card {
        padding: 20px;
        margin-bottom: 20px;
    }
    
    #separa-texto-cima, #separa-texto-baixo {
        margin: 10px auto;
    }
    
    .texto-esquerda, .texto-direita {
        width: 100%;
        font-size: 0.8em;
    }
    
    .imagem-esquerda img, .imagem-direita img {
        width: 100px; /* Ajuste o tamanho da imagem */    
    }

    /* Seção Planos */
    .planos-secao {
        padding: 20px;
    }

    .titulo-planos {
        font-size: 1.8em;
    }

    .subtitulo-planos {
        font-size: 1em;
    }

    .imagem-planos-container {
        display: grid;
        flex-direction: row;
        margin: 0, auto;
    }

    .imagem-planos {
        width: 100%;
    }

    #fundo-plano {
        width: 100%;
        height: auto;
    }

    .logo-container {
        display: grid;
        margin: 0;
    }

    .imagem-planos:hover span {
        display: grid;
        overflow: hidden;
        margin: 0;
        justify-content: center;
    }
}

@media screen and (min-width: 1071px) {

    #btn-topo {
        bottom: 10px;
        right: 5px;
    }

    /* Seção Clientes */
   .cliente-secao {
       padding: 20px;
   }
   
    .title-car {
        font-size: 25px;
        margin-bottom: 10px;
    }

   .titulo-secao, .titulo-carrossel {
       font-size: 25px;
   }
   
   .card {
       padding: 20px;
       margin-bottom: 20px;
   }
   
   .texto-esquerda, .texto-direita {
       width: 100%;
       font-size: 0.8em;
   }
   
   .imagem-esquerda img, .imagem-direita img {
       width: 200px; /* Ajuste o tamanho da imagem */    
   }

    .imagem-planos:hover #logo-plan {
        display: none;
        align-items: center;
        margin: 0 auto;
    }

    .imagem-planos:hover span {
        display: grid;
        overflow: hidden;
        margin: 0;
        justify-content: center;
    }

    /* Seção Atendimento */

    .atendimento {
        display: flex;
        justify-content: space-between;
        padding: 20px 70px 20px 70px;
        height: 200px;
    }

    .lado-esquerdo, .lado-direito {
        width: 50%;
    }

    .lado-direito {
        align-items: right;
        text-align: right;
    }

    .lado-esquerdo h2, .lado-direito h2, .redes-sociais h2 {
        font-size: 20px;
        text-decoration: none;
    }

    .formas-contato .contato-item {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-bottom: 15px;
    }

    .contato-item a{
        display: flex;
        text-align: center;
        align-items: center;
    }

    .formas-contato img {
        width: 30px;
        margin-right: 10px;
    }

    .redes-sociais {
        width: 550px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .redes-sociais h2 {
        margin-bottom: 20px;
    }

    #redes-icons {
        display: flex;
        gap: 30px;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    #redes-icons img {
        margin: 0;
        width: 30px;
    }

    #meio-responsive {
        display: none;
        height: 150px;
    }

    .meio {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .meio img {
        margin-bottom: 30px;
    }

    .info-horario, .info-localizacao {
        display: flex;
        align-items: right;
        justify-content: end;
        margin-top: 10px;
    }

    .info-horario img, .info-localizacao img {
        width: 30px;
        margin-left: 10px;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgba(65, 87, 139);
    }

    /* Rodapé */

    #footer-page {
        background-color: rgb(30, 30, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
        font-size: 14px;
    }

}

@media screen and (max-height: 600px) {

    .info-horario #hour img, .info-localizacao #local img{
        display: grid;
        width: 20px;
    }

    #btn-topo {
        position: fixed;
        align-items: center;
        text-align: center;
        font-size: 15px;
        bottom: 5px;
        right: 10px;
    }

    .highlight-section {
        height: 300px; /* Ajuste a altura conforme necessário */
    }

    .highlight-image {
        width: 80px; /* Ajusta o tamanho da imagem para telas menores */
    }

    .carousel-item{
        margin: 0 auto;
        height: 300px;
        border-radius: 10px;
    }

    .overlay:hover {
        border-radius: 10px;
    }

    .imagem-planos {
        height: 300px;
    }

    #fundo-plano {
        height: 300px;
        width: 500px;
    }

    /* Seção Atendimento */

    .atendimento {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 20px 10px;
        height: 200px;
    }

    .lado-esquerdo, .lado-direito {
        width: 50%;
    }

    .lado-esquerdo {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .lado-direito {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: left;
        justify-content: left;
    }

    .lado-esquerdo h2, .lado-direito h2, .redes-sociais h2 {
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 10px;
    }

    .formas-contato .contato-item {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
    }

    .contato-item a{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
    }

    .formas-contato img {
        width: 20px;
        margin: 0;
    }

    .redes-sociais {
        width: 550px;
        display: grid;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .redes-sociais h2 {
        margin-bottom: 20px;
    }

    #redes-icons {
        display: flex;
        gap: 30px;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    #redes-icons img {
        margin: 0;
        width: 30px;
    }

    #meio-responsive {
        display: none;
        height: 150px;
    }

    .meio {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .meio img {
        margin-bottom: 30px;
    }

    .info-horario, .info-localizacao {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .info-horario img, .info-localizacao img {
        display: none;
    }

    a {
        color: white;
    }

    a:hover {
        color: rgba(65, 87, 139);
    }

    /* Rodapé */

    #footer-page {
        background-color: rgb(30, 30, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3px;
        font-size: 10px;
    }


}

@media screen and (min-height: 601px) and (max-height: 632px) {

    .info-horario #hour img, .info-localizacao #local img{
        display: grid;
        width: 20px;
    }

    #btn-topo {
        position: fixed;
        align-items: center;
        text-align: center;
        font-size: 15px;
        right: 10px;
    }

    .highlight-section {
        height: 450px; /* Ajuste a altura conforme necessário */
    }

    .highlight-carousel {
        height: 450px;
    }

    .highlight-image {
        width: 80px; /* Ajusta o tamanho da imagem para telas menores */
    }

    .add-orc {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    .orcamento {
        font-size: 20px; /* Reduz o tamanho da fonte */
        padding: 15px; /* Ajusta o padding */
    }

    .carousel-item{
        margin: 0 auto;
        height: 450px;
        border-radius: 10px;
    }

    .overlay:hover {
        border-radius: 10px;
    }

    .logo-container {
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }

    #linkplan {
        display: none;
        width: 100%;
        height: 300px;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: transparent;
    }

    .imagem-planos:hover #linkplan {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-size: 20px;
        color: white;
    }
    
    #fundo-plano {
        height: 300px;
        width: 500px;
        margin: 0 auto;
    }

    /* Seção Atendimento */

    .atendimento {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Alinhar ao topo, se desejado */
        padding: 30px 50px 0 50px;
        height: 350px; /* Ajuste a altura para permitir que o conteúdo se ajuste */
        flex-wrap: wrap; /* Para permitir que os itens quebrem em telas menores */
    }
    
    .lado-esquerdo, .meio, .lado-direito {
        width: 30%;
        min-width: 250px; /* Defina um tamanho mínimo para cada coluna, se necessário */
    }
    
    .lado-esquerdo h2, .lado-direito h2 {
        font-size: 1.8em;
        margin: 20px auto;
        text-decoration: underline;
    }

    .formas-contato .contato-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .formas-contato img {
        width: 40px;
        margin-right: 0px;
    }
    
    .redes-sociais {
        display: flex;
        margin-top: 20px;
    }
    
    .redes-sociais img {
        width: 100px;
        margin-right: 10px;
    }
    
    .meio {
        margin-top: 40px;
        height: 225px;
        overflow: hidden;
    }

    .info-horario, .info-localizacao {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    
    .info-horario img, .info-localizacao img {
        width: 30px;
        margin-right: 10px;
    }
    
    a {
        color: white;
    }
    
    a:hover {
        color: rgba(65, 87, 139);
    }

    .redes-sociais {
        align-items: center;
        justify-content: center;
        margin: 20px auto 0;
    }

    .redes-sociais img {
        height: 40px;
        width: 40px;
        margin: 0;
    }
    
    .redes-sociais a {
        height: 25px;
        width: 25px;
        margin: 0 20px;
    }



}