@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    position: relative;
    background-color: rgb(39, 55, 77);
}

@media screen and (min-width: 300px) and (max-width: 767px) and (max-height: 720px) {

    .highlight-img, .highlight-carousel{
        display: none;
    }

    .login-box{
        margin:  0 20px;
        height: 80dvh;
    }

    .login-bottom {
        background-color: rgba(74, 72, 72, 0.5);
        height: 80dvh;
        overflow: hidden;
        padding: 10px;
    }
    
    .logo {
        display: none;
    }

    .fas.fa-user-tie {
        width: 110px;
        padding: 20px;
        margin: 50px auto 20px;
        font-size: 4rem;
        border-radius: 100%;
    }

    h2 {
        font-size: 1rem;
        margin-bottom: 80px;
    }

    .user-box {
        margin: 0 auto;
    }

    .user-box label {
        padding: 0;
        margin: -10px auto;
    }

    .user-box input {
        font-size: auto;
        margin: 20px 0 20px;
        padding: 10px 1px;
        height: 10px;
    }

    .user-box #password {
        margin: 16px 0 30px;
    }

    .login-btn {
        margin: 0px auto 20px;
        font-size: 1.1rem;
    }

    .user-box i {
        top: 15px;
        padding: 0;
    }

    .error-message {
        position: absolute;
        justify-content: center;
        z-index: 20;
        top: 90px;
        width: 40dvh;
        padding: 10px;
        height: 20dvh;
        margin: 10px auto 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1280px) and (max-height: 720px) {

    .login-box{
        margin:  0 20px;
        height: 80dvh;
        overflow: hidden;
    }

    h2 {
        margin-bottom: 0; 
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
    }

    .user-box {
        margin-top: 10px
    }

    .user-box #email {
        padding: 30px 0 5px;  
    }

    .user-box #password {  
        margin-bottom: 20px;
    }

    .error-message {
        position: absolute;
        z-index: 100px;
        bottom: 53px;
        width: auto;
        justify-items: center;
        padding: 10px;
        height: 8dvh;
        margin: 10px 20px 20px 10px;
    }

}

@media screen and (min-width: 1281px) and (max-height: 720px) {

    .login-box{
        margin:  0 20px;
        height: 80dvh;
        overflow: hidden;
    }

    h2 {
        margin-bottom: 0; 
        font-size: 1.3rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }

    .login-bottom {
        background-color: rgba(74, 72, 72, 0.5);
        height: 80dvh;
        overflow: hidden;
        padding: 10px;
    }
    

    .fas.fa-user-tie {
        width: 110px;
        padding: 20px;
        margin: 20px auto;
        font-size: 4rem;
        border-radius: 100%;
    }


    .user-box {
        margin: 0 auto;
    }

    .user-box label {
        padding: 0;
        margin: -10px auto;
    }

    .user-box input {
        font-size: auto;
        margin: 20px 0 20px;
        padding: 10px 1px;
        height: 10px;
    }

    .user-box #password {
        margin: 16px 0 30px;
    }

    .login-btn {
        margin: 20px auto;
        font-size: 1.1rem;
    }

    .user-box i {
        top: 15px;
        padding: 0;
    }

    p.error-message {
        margin: 0;
    }

    .error-message {
        position: absolute;
        z-index: 100px;
        bottom: 80px;
        width: auto;
        justify-items: center;
        padding: 10px;
        height: 8dvh;
        margin: 10px 20px 20px 10px;
    }
}