@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Stoke', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
    align-items: center;
}

#out {
    cursor: pointer;
}

.btn-expandir {
    width: 100%;
    height: 5%;
    padding: 20px;
    font-size: 40px;
    color: white;
    display: flex;
    cursor: pointer;
}

.rotacionado {
    transform: rotate(90deg);
    transform-origin: center;
    padding: 20px 20px 20px 15px;
}

nav.menu-lateral {
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: rgb(39, 55, 77);
    transition: .5s;
    overflow: hidden;
    z-index: 1;
}

nav.menu-lateral.expandir {
    width: 300px;
}

ul#cima {
    height: 47.5%;
}

ul li.item-menu {
    height: 70px;
    transition: .2s;
    margin: 40px 0;
}

ul li#modify {
    background-color: rgb(10, 20, 40);
}

ul li.item-menu:hover {
    background-color: rgb(10, 20, 40);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
}

hr {
    border: 2px white solid;
    margin: 10px 10px 10px 10px;
}

ul#baixo {
    height: 42.5%;
}

ul li.item-footer1 {
    display: grid;
    height: 70px;
    transition: .2s;
    margin: 40px 0 0 0;
}

#func_perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0px 0 0;
}

ul li.item-footer2 {
    height: 70px;
    transition: .2s;
    margin: 40px 0 0 0;
}

ul li.item-footer1:hover,
ul li.item-footer2:hover{
    background-color: rgb(10, 20, 40);
}

ul li.item-footer1 a {
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 23px;
    display: flex;
}

ul li.item-footer2 a {
    color: white;
    text-decoration: none;
    padding: 10px 15px ;
    display: flex;
} 

.txt-link {
    margin-left: 60px;
    transition: 1s;
    opacity: 0;
}

.txt-link-l {
    font-size: 16px;
    margin-left: 60px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 25px;
    opacity: 1;
}

nav.menu-lateral.expandir .txt-link-l {
    margin-left: 23.2px;
    opacity: 1;
}

.icon {
    font-size: 40px;
    color: white;
    margin-left: 10px;
}

.txt-link {
    color: white;
    text-wrap: nowrap;
}

/* Estilos para Conteúdo Direita */

.main-content {
    background-color: rgb(157, 178, 191);
    width: 100%;
    padding: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    transition: margin-left 0.5s;
}

.menu-lateral.expandir ~ .main-content {
    margin-left: 300px; /* Altera a margem do conteúdo da direita, quando .expandir estiver ativa */
}

.welcome-msg {
    background-color: rgb(39, 55, 77);
    padding: 20px;
    border-radius: 8px;
    margin: 5px auto 5px;
    width: 950px;
}

.welcome-msg h1 {
    font-size: 24px;
}

.user-info {
    background-color: rgb(39, 55, 77);
    padding: 10px 20px 50px;
    border-radius: 8px;
    width: 950px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
}

.user-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.user-info-header h2 {
    font-size: 20px;
    color: white;
}

.search-bar {
    display: flex;
    gap: 10px;
    color: white;
}

#search-input {
    width: 206px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px rgb(157, 178, 191) solid;
    background-color: rgb(82, 109, 130);
    color: white;
}

#search-input::placeholder {
    color: white;
}

#search-input:focus {
    outline: none;
}

fontsize {
    font-size: 13px;
    float: right;
}

table {
    width: 100%;
    padding: 2px;
    border: 4px rgb(221, 230, 237) solid;
    border-radius: 10px;
}

th, td {
    padding: 8px;     
    text-align: center;     
}

th {
    background-color: rgb(82, 109, 130); /* Cor de fundo para o cabeçalho */
    color: white;
}

tr:nth-child(odd) {
    background-color:  rgb(157, 178, 191);
    color: black
}

tr:nth-child(even) {
    background-color: rgb(221, 230, 237);
    color: black;
}

.pagination {
    text-align: right;
    margin-top: 5px;
}

.pagination button {
    padding: 0px;
    margin-left: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#page-info {
    margin-left: 5px;
    font-size:  12px;
}

button#prev-btn, button#next-btn {
    width: 70px;
    height: 20px;
    font-size: 12px;
    background-color: rgb(157, 178, 191);
    border: none;
    border-radius: 5px;
}

.logo-r {
    display: grid;
    position: absolute;
    z-index: 0;
    opacity: 1;
    bottom: 3px;
    right: 3px;
    height: auto;
}

.edit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bi.bi-pencil-fill {
    font-size: 16px;
}


#edit-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
}

#first.modal-content {
    display: grid;
    position: relative;
    background-color: rgb(39, 55, 77);
    color: white;
    margin: auto auto; 
    border-radius: 10px;
    width: 450px;
    max-width: 450px;
    height: 55%;
    overflow: hidden;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}

p.title {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 25px;
    height: 30px;
}


.bi.bi-x-circle {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 25px;
}

.bi.bi-x-circle:hover {
    color: rgb(157, 178, 191);
    cursor: pointer;
}


#edit-form {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 10px;
}

input#edit-name, input#edit-email {
    width: 438px;
    max-width: 438px;
    background-color: rgba(221, 230, 237, 0.352);
    color: white;
    border: 1px rgb(157, 178, 191) solid;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

#edit-basico.select, #edit-logistico.select, #edit-premium.select {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(157, 178, 191);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

#edit-basico.select:checked, 
#edit-logistico.select:checked, 
#edit-premium.select:checked {
    background-color: rgb(157, 178, 191);
}

#delete-user, #save-changes {
    width: 150px;
    margin: 0 auto;
    background-color: rgba(221, 230, 237, 0.352);
    color: white;
    border: 1px rgb(157, 178, 191) solid;
    padding: 5px;
    outline: 0;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

#btn {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#delete-user:hover {
    background-color: red;
    border: 1px red solid;
}

#save-changes:hover {
    background-color: green;
    border: 1px green solid;
}

#message-container {
    display: none; /* Ocultar por padrão */
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 15px;
}

#message-container.success {
    display: block; /* Mostrar se for sucesso */
    background-color: green;
    color: white;
}

#message-container.error {
    display: block; /* Mostrar se for erro */
    background-color: red;
    color: white;
}

#message-container.warning {
    display: block; /* Mostrar se for aviso */
    background-color: rgb(245, 166, 32);
    color: white;
}

#confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-contents {
    background: rgb(39, 55, 77);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#confirm-delete, #cancel-delete {
    width: 150px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 3px rgb(82, 109, 130) solid;
    color: white;
    background: rgb(82, 109, 130);
}

#confirm-delete:hover {
    background-color: green;
    border: 3px green solid;
}

#cancel-delete:hover {
    background-color: red;
    border: 3px red solid;
}

@media screen and (max-width: 1024px) {
    .txt-link {
        text-wrap: wrap;
    }
}