@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    position: relative;
    background-color: rgb(39, 55, 77);
}

@media screen and (min-width: 768px) and (max-width: 1280px) and (max-height: 768px) {

    .login-bottom {
        width: 500px;
        height: 400px;
        overflow: hidden;
    }

    h2 {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    .bi {
        display: none;
    }

    form {
        margin: 2rem 0;
    }

    .user-box i {
        font-size: 1rem;
        top: 40px;
    }

    .error-message {
        position: absolute;
        z-index: 100px;
        top: 30px;
        width: auto;
        justify-items: center;
        padding: 10px;
        height: 8dvh;
        margin: 5px auto 5px;
    }

}

@media screen and (min-height: 769px) and (max-height: 1080px) {

    .login-bottom {
        width: 400px;
        height: 500px;
        overflow: hidden;
    }

    .error-message {
        top: 50px;
    }

}