@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: rgb(226, 226, 182);
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 21, 38);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(226, 226, 182);
}

.config-container {
    transition: margin-left 0.3s ease;
    width: 80%;
    height: auto;
    margin: 85px auto 0;
    background-color: rgb(3, 52, 110);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    border: 2px solid rgb(226, 226, 182);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#open-modal {
    display: flex;
    justify-content: center;
    background-color: rgb(2, 21, 38);
    color: rgb(226, 226, 182);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    width: 270px;
    border-radius: 10px ;
}

#open-modal:hover {
    background-color: rgb(2, 21, 38, 0.5);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(3, 52, 110);
    color: white;
    padding: 0px 20px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    position: relative;
    text-align: center;
    border: 2px solid rgb(226, 226, 182);
}

.close {
    color: rgb(226, 226, 182);
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Tab links (ajuste para ficarem inline) */
.tab {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.tab button {
    background-color: rgb(2, 21, 38);
    color: rgb(226, 226, 182);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    margin-right: 0px; /* Espaçamento entre os botões */
    transition: 0.3s;
}

#dados-inicio {
    border-radius: 5px 0 0 5px;
    padding: 5px 35px;
}

#dados-fim {
    border-radius: 0 5px 5px 0;
    padding: 5px 43px;
}

button.tablinks {
    padding: 5px;
    text-wrap: nowrap;
    width: 230px;
    margin-left: 0;
}

.tab button:hover {
    background-color: rgb(2, 21, 38, 0.4);
}

.tab button.active {
    background-color: rgb(226, 226, 182);
    color: rgb(2, 21, 38);
}

/* Tab content (o conteúdo de cada aba) */
.tabcontent {
    display: none;
    padding: 20px;
    animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    display: none; /* Inicialmente oculto */
}

.message.success {
    background-color: #28a745;
    color: white;
}

.message.error {
    background-color: #dc3545;
    color: white;
}

#edt {
    border: none;
    background-color: rgb(226, 226, 182);
    color: rgb(2, 21, 38);
}

#edt:hover {
    outline: none;
    border: none;
    background-color: rgb(226, 226, 182, 0.7);
    color: rgb(2, 21, 38);
}

.pagination {
    text-align: right;
    margin-top: 5px;
}

.pagination button {
    padding: 0px;
    margin-left: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#page-info {
    margin-left: 5px;
    font-size:  12px;
    color: rgb(226, 226, 182);
}

button#prev-btn, button#next-btn {
    width: 70px;
    height: 20px;
    font-size: 12px;
    background-color: rgb(226, 226, 182);
    border: none;
    border-radius: 5px;
}

/* Estilos da mensagem */
#message-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.error {
    background-color: #f8d7da; /* Cor de fundo para erro */
    color: #721c24; /* Cor do texto para erro */
}

.success {
    background-color: #d4edda; /* Cor de fundo para sucesso */
    color: #155724; /* Cor do texto para sucesso */
}

.modal-plan {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Fica na posição fixa na tela */
    z-index: 1000; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: hidden; /* Adiciona rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo escuro com transparência */
    backdrop-filter: blur(5px);
}

.modal-content-plan {
    margin: auto; /* Centraliza o modal */
    padding: 20px 20px 20px 0;
    width: 100%; /* Largura do modal */
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#back {
    display: none;
}