* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Stoke', sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(to right, rgba(4, 9, 21, 1), rgba(23, 53, 123, 1), rgba(4, 9, 21, 1));
    color: white
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    margin: 0 auto;
}

#lateral-esq {  
    display: grid;
    width: 560px;
    height: 700px;
    background-color: rgb(68, 68, 75);
    text-align: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

#back {
    position: absolute; /* Garante que o ícone se sobreponha à div */
    top: 10px; /* Distância do topo da div */
    right: 10px; /* Distância da borda direita da div */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Faz o ícone ficar circular */
    color: white; /* Cor do ícone */
    font-size: 30px; /* Tamanho do ícone */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    z-index: 10000; /* Certifica-se de que o ícone está acima de outros elementos */
}

#back i {
    color: rgb(255, 255, 255);
}

#lateral-dir {
    display: grid;
    position: relative; /* Mantém a div relativa para o posicionamento do ícone */
    width: 560px;
    height: 700px;
    background-color: rgb(20, 22, 27);
    padding: 60px 30px 30px 30px;
    border-radius: 0px 30px 30px 0px;
    z-index: 0; /* Deve ser menor que o z-index do ícone */
}

#back:hover {
    background-color: red;
    color: black;
}

h2 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 20px 20px
}

p#text1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 20px 20px;
}

p#vazia {
    display: none;
}

p.form {
    display: grid;
    font-size: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#form-name, #form-email, #form-tel, #form-message {
    display: flex;
    font-size: 15px;
    padding: 8px;
    width: 500px;
    background-color: transparent;
    color: white;
    border: rgba(255, 255, 255, 0.452) solid 3px;
    border-radius: 10px;
}

textarea {
    resize: none;
}

#send {
    font-family: 'Stoke', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: rgba(255, 255, 255, 0.452) solid 3px;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
}

#send:hover {
    background-color: rgb(67, 68, 75);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

@media screen and (max-width: 870px) {
    
    #lateral-esq {
        margin-left: 100px;
    }
    
    #lateral-dir {
        margin-right: 100px;
        margin-left: 0px;
    }


}

@media screen and (max-width: 1025px) {


    #principal {
        height: 720px;
    }

    #lateral-esq {
        height: 90%;
        margin: 0;
        margin-left: 100px;
    }

    #lateral-dir {
        padding-top: 20px;
        height: 90%;
        margin-right: 100px;
        margin-left: 0px;
    }

    h2 {
        font-size: 2.5em;
    }

    p#text1 {
        font-size: 24px;
    }

    p#vazia {
        display: grid;
    }

    p#box {
        display: none;
    }

}


@media screen and (max-width: 600px) {

    #principal {
        display: block;
        height: 1080px;
    }

    #lateral-esq, #lateral-dir {
        margin: 0;
        width: 100%;
        height: 100%;
        margin: 20px auto;
    }

    #lateral-esq {  
        padding: 10px;
        border-radius: 30px 30px 0px 0px;
        width: 92%;
        height: 40%;
        text-align: center;
        justify-content: center;
        margin: 20px 20px 0px 20px;
    }

    h2 {
        display: block;
        font-size: 30px;
        padding: 0px 0px 30px 0px;
        height: 10px;

    }

    p#text1 {
        display: block;
        height: 300px;
        font-size: 25px;
        padding: 20px 15px 0px 15px;
    }

    
    p#vazia {
        display: none;
    }

    img {
        display: none;
    }

    p#box {
        padding: 30px 0 0 0;
        height: 0px;
    }

    #lateral-dir {
        display: flex;
        justify-content: center;
        padding: 20px 0 0 0;
        border-radius: 0px 0px 30px 30px;
        width: 92%;
        height: 630px;
        margin: 0px 20px 20px 20px;
    }

    
    #back {
        position: absolute; /* Garante que o ícone se sobreponha à div */
        top: -415px; /* Distância do topo da div */
        right: 16px; /* Distância da borda direita da div */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%; /* Faz o ícone ficar circular */
        color: white; /* Cor do ícone */
        font-size: 30px; /* Tamanho do ícone */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
        z-index: 10000; /* Certifica-se de que o ícone está acima de outros elementos */
    }

    p.form {
        display: grid;
        width: auto;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    #form-name, #form-email, #form-tel, #form-message {
        display: grid;
        font-size: 15px;
        padding: 8px;
        width: 400px;
        background-color: transparent;
        color: white;
        border: rgba(255, 255, 255, 0.452) solid 3px;
        border-radius: 10px;
        margin: 0 0 20px 0px;
    }

    label {
        width: 400px;
        margin-bottom: 5px;
    }

    textarea#form-message {
        margin-bottom:  10px;
    }

    #send {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: white;
        font-weight: bold;
        border: rgba(255, 255, 255, 0.452) solid 3px;
        padding: 10px;
        width: 120px;
        border-radius: 10px;
    }

    #send:hover {
        background-color: rgb(67, 68, 75);
    }
}

