@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/Fundo.png);
}

.login-box {
    width: 1020px;
    background-color: transparent;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-content {
    display: grid;
}

.login-top {
    background-color: rgb(54, 56, 66);
}

.logo {
    width: 70px;
    height: auto;
    align-items: left;
    margin: 10px;
}

h1 {
    padding: 20px;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

p {
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.login-bottom {
    display: grid;
    padding: 20px;
    position: relative;
    background-color: rgb(104, 107, 115);
    align-items: center;
    justify-content: center;
}

.confirm {
    margin: 40px auto;
}

h2 {
    color: white;
    margin: 40px 0;
}

