/* Responsividade */

/* Botão MENU-NAV deve aparecer com resoluções menores ou igual que 808px */


@media screen and (min-width: 300px) and (max-width: 808px) {

    .nav-menu {
        display: none; /* Oculta o menu completamente */
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0px;
        width: 100%;
        background-color: rgb(29, 34, 46);
    }

    .nav-menu.active {
        display: flex; /* Mostra o menu quando ativo */
    }

    .nav-icon {
        display: block;
        padding-right: 10px;
    }

    .nav-item {
        margin: 1.5rem 0;
        text-align: center;
    }

    /* Texto Vídeo */

    .highlight-text {
        font-size: 1.2rem;
    }
    

    /* Botão Orçamento */
    .add-orc {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        display: grid;
    }

    .orcamento {
        font-size: 18px; /* Reduz o tamanho da fonte */
        padding: 15px; /* Ajusta o padding */
    }

    #btn-topo {
        position: fixed;
        align-items: center;
        text-align: center;
        font-size: 15px;
        right: 12%;
    }

    .title-car {
        text-align: center;
        font-size: 0.85rem;
    }

    .carousel-section  {
        padding: 10px;
        margin: 0;
        margin-bottom: 20px;
    }

    .carousel-item{
        margin: 0 auto;
        /* border-radius: 30px; */
    }

    .overlay:hover {
        border-radius: 5px;
    }

    .left-btn {
        width: 40px;
        height: 40px;
    }

    .right-btn {
        width: 40px;
        height: 40px;
    }

    .info-box {
        padding: 2px 5px 5px 5px;
    }

    .info-content {
        font-size: 0.7rem;
    }

    .info-content h2 {
        font-size: 0.8rem;
    }

    .info-content p {
        font-size: 0.6rem;
    }

    .close-info {
        margin-top: 10px;
    }

     /* Seção Clientes */
     .cliente-secao {
        padding: 20px;
    }

    .titulo-secao, .titulo-carrossel {
        font-size: 1.1em;
    }

    .card {
        flex-direction: column;
        padding: 20px;
        margin-bottom: 20px;
    }

    .card:hover {
        transform: none; /* Remove o efeito de transformação em telas pequenas */
    }

    #separa-texto-cima, #separa-texto-baixo {
        margin: 10px auto;
    }

    .texto-esquerda, .texto-direita {
        width: 100%;
        font-size: 0.8em;
    }

    .imagem-esquerda, .imagem-direita {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .imagem-esquerda img, .imagem-direita img {
        width: 100px; /* Ajuste o tamanho da imagem */
    }

    /* Carrossel */
    .carrossel-images {
        flex-direction: column; /* Ajuste a direção para vertical */
    }

    .carousel-images-inner {
        flex-direction: column; /* Ajuste a direção para vertical */
    }

    img.img-client {
        width: 80%; /* Ajustado para ocupar toda a largura disponível */
        height: auto;
        margin: 5px auto;
    }

    .nav-client {
        display: none;
        position: fixed; /* Fixa a barra de navegação ao lado da tela */
        right: 0; /* Ajuste conforme necessário */
        top: 0; /* Ajuste conforme necessário */
        height: 20%; /* Ajuste a altura para a tela inteira */
        rotate: 90deg;
    }

    /* Seção Planos */
    .planos-secao {
        padding: 20px;
    }

    .titulo-planos {
        font-size: 1.8em;
    }

    .subtitulo-planos {
        font-size: 1em;
    }

    .imagem-planos-container {
        display: grid;
        flex-direction: row;
        margin: 0, auto;
    }

    .imagem-planos {
        width: 100%;
    }

    #fundo-plano {
        width: 100%;
        height: auto;
    }

    .seta {
        display: none;
    }

    .logo-container {
        display: grid;
        margin: 0;
    }

    .imagem-planos:hover #logo-plan {
        display: none;
        align-items: center;
        margin: 0 auto;
    }

    .imagem-planos:hover span {
        display: grid;
        overflow: hidden;
        margin: 0;
        justify-content: center;
    }

    /* Seção Atendimento */
    .atendimento {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .lado-esquerdo, .meio, .lado-direito {
        width: 100%;
        margin-bottom: 20px;
    }

    .lado-esquerdo h2, .lado-direito h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .formas-contato {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
    }


    .contato-item {
        width: 100%;
    }

    a {
        width:100%;
    }

    .formas-contato img, .redes-sociais img {
        display: grid;
        width: 20px;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .redes-sociais img {
        width: 50%;
        margin: 0 auto;
    }

    .redes-sociais {
        margin-bottom: 40px;
    }

    #meio-responsive {
        display: grid;
        border: 3px rgb(50, 65, 102) solid;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 20px;
    }

    .meio img { 
        display: none;
    }

    .lado-direito {
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
    }

    .info-horario, .info-localizacao {
        display: grid;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-horario img, .info-localizacao img {
        display: grid;
        margin: 0 auto;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    #footer-page {
        width: 100%;
        font-size: 8px;
    }

}

@media screen and (min-width: 500px) {

    .title-car {
        text-align: center;
        font-size: 1rem;
    }

}

@media screen and (min-width: 700px) {

    .title-car {
        text-align: center;
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 888px) {

    .title-car {
        text-align: center;
        font-size: 2.5rem;
    }

}

