/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgba(4, 9, 21, 0.9);
    color: white
}

/* Botão de Voltar ao Topo */
#btn-topo {
    position: fixed;
    bottom: 70px;
    right: 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    border: 4px solid white;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0; /* Começa invisível */
    transform: translateY(20px); /* Deslocado para baixo inicialmente */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
    z-index: 100;
}

/* Botão visível com animação */
#btn-topo.show {
    display: block; /* Mostrar o botão */
    opacity: 1; /* Tornar visível */
    transform: translateY(0); /* Retornar à posição original */
}

/* Efeito hover para o botão */
#btn-topo:hover {
    background-color: rgb(120, 120, 120);
}

/* Navegação */
.navbar {
    background-color: rgba(65, 87, 139, 0.028);
    position: relative;
    width: 100%;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
}

.nav-logo {
    margin: 0;
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: rgba(65, 87, 139);
}

.img-login {
    width: 30%;
    padding: 10px;
}

.btn-login {
    background-color: white;
    color: rgba(4, 9, 21) !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.nav-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-icon i {
    transition: transform 0.3s ease;
}

.nav-icon.rotated i {
    transform: rotate(90deg); /* Muda para a rotação desejada, aqui 90 graus */
}

/* Seção de Destaque */
.highlight-section {
    position: relative;
    width: 100%;
    height: 765px; /* Ajuste conforme necessário */
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.highlight-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.highlight-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.3s ease; /* Adiciona uma transição suave */
}

/* Adiciona um filtro escuro ao vídeo quando o overlay está visível */
.highlight-container:hover .highlight-video {
    filter: brightness(30%);
}

.highlight-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none; /* Inicialmente escondido */
    color: #fff;
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
}

.highlight-image {
    width: 100px; /* Ajuste conforme necessário */
    margin-bottom: 1rem; /* Ajuste conforme necessário */
    margin: 0;
}

.highlight-text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 1px;
    /* Remover o fundo do texto */
    background: none;
    border-radius: 0; /* Remove o arredondamento do fundo */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
}

/* Botão Orçamento */

.add-orc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

.orcamento {
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.orcamento:hover {
    background-color: rgb(40, 42, 47);
    color: white;
    transform: scale(0.98);
}

/* Estilos Carrossel */

.title-car {
    font-size: 40px;
    font-weight: bold;
    text-wrap: wrap;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.carousel-section {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px;
}

.carousel-container {
    display: flex;
    grid-column: auto;
    max-width: 1200px;
    max-height: 800px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.carousel-item {
    flex: 0 0 100%;
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    display: block;
    width: 100%; /* Garante que a imagem ocupe 100% da largura disponível */
    height: auto;
}

.left-btn, .right-btn {
    width: 80px; height: 80px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    margin: 20px;
    border-radius: 50px;
}

.left-btn, .right-btn:hover {
    background-color: rgb(50, 65, 102);
}

.left-btn {
    left: 0; /* Ajuste a posição conforme necessário */
}

.right-btn {
    right: 0;/* Ajuste a posição conforme necessário */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.550);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 10;
    border-radius: 0;
}

/* Estilos para o conteúdo dentro do overlay */
.overlay img.view {
    width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto; /* Mantém a proporção do ícone */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.overlay p {
    font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
    margin: 0;
}

.overlay:hover {
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

/* Estilo informações */

.info-box {
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 59.6%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o centro da caixa */
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite máximo da largura */
    height: 100%; /* Ajuste conforme necessário */
    max-height: 760px; /* Limite máximo da altura */
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 20;
    padding: 20px; /* Ajuste conforme necessário */
}

.info-content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.info-content h2 {
    margin-bottom: 20px;
}

.close-info {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
}

.close-info:hover {
    background-color: #777;
}

/* Seção Clientes */
.cliente-secao {
    padding: 40px;
    text-align: center;
}

.titulo-secao {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

.titulo-carrossel {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left, rgba(46, 81, 176, 1), rgb(28, 33, 43));
    color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.linha-inferior {
    background-image: linear-gradient(to right, rgba(46, 81, 176, 1), rgb(28, 33, 43));
}

#separa-texto-cima {
    margin: 0 220px 15px 220px;
    border: 2px white solid;
    border-radius: 10px;
}

#client {
    color: rgba(100, 149, 237);
    font-weight: bold;
    font-size: 15px;
}

#separa-texto-baixo {
    margin: 15px 220px 10px 220px;
    border: 2px white solid;
    border-radius: 10px;
}

.texto-esquerda, .texto-direita {
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    line-height: 1.6em;
}

.imagem-esquerda {
    display: flex;
    align-items: center;
    border-bottom: 10px rgb(255, 255, 255) solid;
    border-top: 10px rgb(28, 33, 43) solid;
    border-radius: 10px;
    padding: 20px;
}

.imagem-direita {
    display: flex;
    align-items: center;
    border-top: 10px rgb(255, 255, 255) solid;
    border-bottom: 10px rgb(28, 33, 43) solid;
    border-radius: 10px;
    padding: 20px;
}

.imagem-direita img, .imagem-esquerda img {
    width: 200px; /* Aumentando o tamanho da imagem */
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.imagem-direita img:hover, .imagem-esquerda img:hover {
    transform: scale(1.1); /* Zoom na imagem ao passar o mouse */
}

/* Carrossel imagem clientes */

.carrossel-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* Carrossel */
.carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

/* Imagens do Carrossel */
.carrossel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    background-color: rgba(4, 9, 21, 0.9);
}

.carousel-images-inner {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

img.img-client {
    /* border: 1px silver solid; */
    margin: 0 auto;
    width: 477px;
    height: 480px;
}

.carousel-images-inner img {
    width: 80%; /* Ajuste para mostrar 4 imagens por vez */
    transition: transform 0.3s ease;
}

.carousel-images-inner img:hover {
    transform: scale(1.05); /* Pequeno zoom ao passar o mouse */
}

/* Barra de Navegação Horizontal */
.nav-client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(4, 9, 21, 0.367); /* Cor de fundo leve */
    padding: 10px 0;
}

.nav-itens {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
}

.nav-itens.active {
    background-color: rgba(46, 81, 176, 1); /* Cor ativa */
}

.nav-itens:hover {
    background-color: rgba(100, 149, 237, 0.7); /* Cor ao passar o mouse */
}


/* Seção Planos */
.planos-secao {
    text-align: center;
    padding: 40px;
    position: relative; /* Garante que a posição relativa seja aplicada ao contêiner dos planos */
}

.titulo-planos {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitulo-planos {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.imagem-planos-container {
    display: flex;
    align-items: center; /* Alinha verticalmente as setas e a imagem */
    justify-content: center; /* Alinha horizontalmente o contêiner */
    position: relative; /* Permite o posicionamento absoluto das setas */
    gap: 20px; /* Espaço entre a imagem e as setas */
}

.imagem-planos {
    position: relative; /* Faz com que o logo-plan e o texto sejam posicionados em relação a este contêiner */
    display: inline-block; /* Faz com que o contêiner ajuste seu tamanho à imagem */
    overflow: hidden; /* Garante que o logo não saia do contêiner */
    cursor: pointer;
}

#fundo-plano {
    display: block;
    filter: brightness(70%);
    border-radius: 10px;
}

.imagem-planos:hover #fundo-plano {
    filter: brightness(20%); /* Ajuste o brilho para um efeito mais suave */
    transition: 0.2s ease-in-out;
}

.logo-container {
    display: none;
    position: absolute;
    top: 50%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza o contêiner do logo */
    display: flex;
    align-items: center; /* Alinha o texto e o logo verticalmente */
    gap: 10px; /* Espaçamento entre o logo e o texto */
    z-index: 10; /* Garante que o logo e o texto estejam sobre a imagem de fundo */
    filter: brightness(100%)
}

.logo-container span {
    display: none;
}

#logo-plan {
    width: 200px; /* Ajuste o tamanho do logo conforme necessário */
    height: auto;
    opacity: 0; /* Inicialmente invisível */
    visibility: hidden; /* Inicialmente escondido */
}


.imagem-planos:hover #logo-plan, 
.imagem-planos:hover .logo-container span {
    display: grid;
    opacity: 1; /* Torna o logo visível ao passar o mouse */
    visibility: visible; /* Garante que o logo seja visível */
    font-size: 30px; /* Ajuste o tamanho da fonte conforme necessário */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno do texto */
    border-radius: 5px; /* Bordas arredondadas */
    transition: 1s ease-in-out;
}

/* Estilos das setas */
.seta {
    font-size: 2em; /* Ajuste o tamanho das setas conforme necessário */
    transition: color 0.3s ease; /* Transição suave para a cor das setas */
}

.seta-esquerda {
    margin-right: 50px; /* Espaço entre a seta esquerda e a imagem */
}

.seta-direita {
    margin-left: 50px; /* Espaço entre a seta direita e a imagem */
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #d6d6d6ca;
}

/* HR Separa Section */

#separa-section {
    border: 3px rgb(50, 65, 102) solid;
    border-radius: 10px;
    margin: 0 35px;
}


/* Seção Atendimento */

.atendimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.lado-esquerdo, .meio, .lado-direito {
    width: 30%;
}

.lado-esquerdo h2, .lado-direito h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.formas-contato .contato-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.formas-contato img {
    width: 30px;
    margin-right: 10px;
}

.redes-sociais {
    display: flex;
    margin-top: 20px;
}

.redes-sociais img {
    width: 40px;
    margin-right: 50px;
}

.meio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.meio img {
    margin-bottom: 50px;
}

.info-horario, .info-localizacao {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.info-horario img, .info-localizacao img {
    width: 30px;
    margin-right: 10px;
}

/* Rodapé */

#footer-page {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

/* Responsividade */
@media screen and (max-width: 810px) {

    .nav-menu {
        display: none; /* Oculta o menu completamente */
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0px;
        width: 100%;
        background-color: rgb(29, 34, 46);
    }

    .nav-menu.active {
        display: flex; /* Mostra o menu quando ativo */
    }

    .nav-icon {
        display: block;
        padding-right: 10px;
    }

    .nav-item {
        margin: 1.5rem 0;
        text-align: center;
    }

    /* Botão Orçamento */
    .add-orc {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .orcamento {
        font-size: 20px; /* Reduz o tamanho da fonte */
        padding: 15px; /* Ajusta o padding */
    }

    /* Estilos Carrossel */
    .title-car {
        font-size: 50px; /* Reduz o tamanho da fonte */
        padding-top: 80px;
        padding-bottom: 30px;
        text-wrap: wrap;
    }

    .carousel-container {
        margin-left: 0px;
        padding: 0; /* Remove o espaçamento lateral */
        max-width: 100%; /* Define a largura máxima como 100% */
        max-height: 7500px; /* Ajusta a altura máxima */
    }

    .carousel-item {
        flex: 0 0 100%; /* Ocupa 100% da largura disponível */
        border-radius: 10px;
    }

    .left-btn, .right-btn {
        width: 50px; height: 50px; /* Reduz o tamanho dos botões */
        top: 71%;
    }

    .overlay {
        max-width: 640px;
    }

    .overlay:hover {
        border-radius: 10px;
    }

    .info-box {
        transform: translate(-50%, -35.3%);
        width: 100%;
        height: 62.6%; 
        background-color: transparent;
        border-radius: 15px 10px 10px 10px;
        padding-left: 20px; padding-right: 20px;
    }

    .info-content {
        width: 100%; /* Define a largura como 100% */
        max-width: 100%; /* Remove a restrição de largura máxima */
    }

    .close-info {
        width: 100%; /* Botão ocupa 100% da largura */
        font-size: 18px; /* Reduz o tamanho da fonte */
    }
}