/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stoke', sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgba(4, 9, 21, 0.9);
    color: white
}

/* Botão de Voltar ao Topo */
#btn-topo {
    position: fixed;
    bottom: 70px;
    right: 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    border: 4px solid white;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0; /* Começa invisível */
    transform: translateY(20px); /* Deslocado para baixo inicialmente */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
    z-index: 100;
}

/* Botão visível com animação */
#btn-topo.show {
    display: block; /* Mostrar o botão */
    opacity: 1; /* Tornar visível */
    transform: translateY(0); /* Retornar à posição original */
}

/* Efeito hover para o botão */
#btn-topo:hover {
    background-color: rgb(120, 120, 120);
}

/* Navegação */
.navbar {
    background-color: rgba(65, 87, 139, 0.028);
    position: relative;
    width: 100%;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
}

.nav-logo {
    margin: 0;
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: rgba(65, 87, 139);
}

.img-login {
    width: 30%;
    padding: 10px;
}

.btn-login {
    background-color: white;
    color: rgba(4, 9, 21) !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.nav-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-icon i {
    transition: transform 0.3s ease;
}

.nav-icon.rotated i {
    transform: rotate(90deg); /* Muda para a rotação desejada, aqui 90 graus */
}

/* Seção de Destaque */
.highlight-section {
    position: relative;
    width: 100%;
    height: 765px; /* Ajuste conforme necessário */
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.highlight-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.highlight-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.3s ease; /* Adiciona uma transição suave */
}

/* Adiciona um filtro escuro ao vídeo quando o overlay está visível */
.highlight-container:hover .highlight-video {
    filter: brightness(30%);
}

.highlight-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none; /* Inicialmente escondido */
    color: #fff;
    transition: opacity 0.3s ease; /* Adiciona uma transição suave */
}

.highlight-image {
    width: 100px; /* Ajuste conforme necessário */
    margin-bottom: 1rem; /* Ajuste conforme necessário */
    margin: 0;
}

.highlight-text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 1px;
    /* Remover o fundo do texto */
    background: none;
    border-radius: 0; /* Remove o arredondamento do fundo */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
}

/* Botão Orçamento */

.add-orc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}

.orcamento {
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.orcamento:hover {
    background-color: rgb(40, 42, 47);
    color: white;
    transform: scale(0.98);
}

/* Estilos Carrossel */

.title-car {
    font-size: 35px;
    font-weight: bold;
    text-wrap: nowrap;
    text-align: center;
    overflow: hidden;
}

.carousel-section {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px;
}

.carousel-container {
    display: flex;
    grid-column: auto;
    max-width: 1200px;
    max-height: 800px;
    margin: auto auto;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.carousel-item {
    flex: 0 0 100%;
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.carousel-item img {
    display: block;
    width: 100%; /* Garante que a imagem ocupe 100% da largura disponível */
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
}

.left-btn, .right-btn {
    width: 40px; height: 40px;
    position: absolute;
    top: auto;
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.413);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 0;
    margin: auto 10px;
    z-index: 1;
}

.left-btn, .right-btn:hover {
    background-color: rgb(50, 65, 102);
}

.left-btn {
    top: 50%;
    left: 2px; /* Ajuste a posição conforme necessário */
}

.right-btn {
    top: 50%;
    right: 2px;/* Ajuste a posição conforme necessário */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.550);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 20;
    border-radius: 0;
    overflow: hidden;
}

/* Estilos para o conteúdo dentro do overlay */
.overlay img.view {
    width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto; /* Mantém a proporção do ícone */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.overlay p {
    font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
    margin: 0;
}

.overlay:hover {
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

/* Estilo informações */

.info-box {
    margin: 0 auto;
    display: none;
    position: absolute;
    top: auto; /* Centraliza verticalmente */ /* Centraliza horizontalmente */
    width: 100%;
    max-width: 1200px; /* Limite máximo da largura */
    height: 100%; /* Ajuste conforme necessário */
    max-height: 760px; /* Limite máximo da altura */
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 10;
    padding: 20px; /* Ajuste conforme necessário */
    overflow: hidden;
}

.info-content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.info-content h2 {
    margin-bottom: 20px;
}

.close-info {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 10px ;
}

.close-info:hover {
    background-color: #777;
}