@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilos gerais */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.fluxo-item-last {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #2c3e50;
    font-size: 1.2rem;
    margin-top: 0;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

/* Estilo específico para o link de vídeo */
.link-video {
    font-weight: bold;
}

/* Estilos de responsividade */
@media (max-width: 768px) {

    h4 {
        font-size: 1rem;
    }

    p, a {
        font-size: 0.9rem;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 480px) {

    h4 {
        font-size: 0.9rem;
    }

    p, a {
        font-size: 0.8rem;
    }

    .container {
        padding: 10px;
    }
}
