/* NAVBAR */

/* rgb(3, 52, 110) claro */ 
/* rgb(2, 21, 38) escuro */
/* rgb(226, 226, 182) "branco" */
/* rgb(71, 111, 141) tom acizentado */
/* rgb(46, 100, 153) azuul claro (escuro) */
/* rgb(90, 150, 180) azul claro (claro) */

#navbar {
    display: flex;
    background-color: rgb(3, 52, 110);
    color: white;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    gap: 15px;
    padding: 0 2px 0 0px;
    z-index: 1;
}

#right {
    display: flex;
    flex-direction: row;
    gap: 15px;
    z-index: 1;
}

.notifications {
    display: flex;
    background-color: rgb(226, 226, 182);
    color: rgb(71, 111, 141);
    padding: 8px;
    border-radius: 10px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}